$color-primary: black;
$color-secondary: #246f91;
$color-light: white;
$color-dark: rgb(53, 53, 53);
$color-nav: rgba(0, 0, 0, 0.438);
$color-inactive: rgb(192, 192, 192);
$color-warning: rgb(184, 0, 0);
$color-good: #20b102;