@import "partials/colors.scss";

.container {
    width: 100%;
    background-color:  $color-secondary;
    display: flex;
    justify-content: center;
    color: $color-light;
    height: 3rem;
    margin-top: 3rem;;
}